<app-my-header></app-my-header>
<section class="container content-area page-wrapper" style="margin-top: 10%">
  <h2 class="display-4 text-center mt-5 mb-3">HƯỚNG DẪN CÁCH ĐO NI NHẪN </h2>
  <div class="large-12 col">
    <p style="font-size: 20px">
      Để biết rõ hơn về cách chọn nhẫn sao cho phù hợp nhất, bạn cần phải biết chu vi ngón tay của mình. So sánh thông
      số dưới bảng để biết được kích thước của nhẫn so với ngón tay. Dưới đây là bảng size nhẫn (đường kính trong mm)
      phổ biến để bạn dễ dàng tham khảo.
    </p>
    <p style="font-size: 20px">
      Hiện nay có hai bảng size nhẫn phổ biến: Đó là bảng size được dùng tại Việt Nam và bảng size được dùng tại Mỹ. Tùy
      theo quốc gia đang cư trú mà bạn chọn bảng size phù hợp. Nhiều thương hiệu trang sức cũng thiết kế riêng bảng size
      nhẫn. Vì thế khi mua nhẫn, bạn nên nhờ nhân viên tư vấn cụ thể để chọn đúng size nhẫn vừa tay.
    </p>
    &nbsp;
    <img src="./assets/images/jewerly-size/bang-do-size-nhan.jpg" style="width: 100%">
    <p style="font-size: 30px">
      Đo size nhẫn bằng giấy và thước
    </p>
    <img src="./assets/images/jewerly-size/do-size-nhan-bang-giay-va-thuoc.jpg" style="width: 100%">
  </div>
  <p style="font-size: 30px">
    Đo size nhẫn bằng chiếc nhẫn đã có
  </p>
  <img src="./assets/images/jewerly-size/do-size-nhan-bang-nhan.jpg" style="width: 100%">
  <p style="font-size: 30px">
    Đo size nhẫn bằng tiền
  </p>
  <p style="font-size: 20px">
    Bạn cần chuẩn bị một tờ tiền polymer có mệnh giá bất kỳ và một chiếc nhẫn có sẵn đeo vừa tay bạn. Sau đó, bạn đặt tờ
    tiền trên một mặt phẳng, rồi đặt chiếc nhẫn sao cho trùng với đường viền của con số 0 trên tờ tiền. Cuối cùng, bạn
    chụp ảnh và gửi cho cửa hàng trang sức. Từ đó, họ có thể biết được size nhẫn của bạn là bao nhiêu và giúp bạn đưa ra
    sự lựa chọn chính xác.
  </p>
  <p style="font-size: 30px">
    Bảng Ni nhẫn theo cân nặng, chiều cao Nam và Nữ
  </p>
  <img src="./assets/images/jewerly-size/do-size-nhan-theo-chieu-cao-can-nang.jpg" style="width: 100%">
  <p style="font-size: 30px">
    Những lưu ý khi tự đo size nhẫn tại nhà
  </p>
  <ul class="a" style="padding-left: 2%">
    <li style="font-size: 20px">
      Khi đo nhẫn hãy lưu ý đến thời tiết, nhiệt độ và đảm bảo đo trong điều kiện bình thường, vì chúng bị ảnh hưởng bởi
      nhiệt độ
    </li>
    <li style="font-size: 20px">
      Lưu ý độ dày của nhẫn
    </li>
    <li style="font-size: 20px">
      Lưu ý các khớp tay: Hảm bảo rằng nhẫn vẫn thoải mái và dễ đeo
    </li>
    <li style="font-size: 20px">
      Đo kích cỡ nhẫn nhiều lần: Để có kết quả chính xác, nên đo size nhẫn nhiều lần trong ngày và ở trạng thái ngón tay
      bình thường
    </li>
    <li style="font-size: 20px">
      Size nhẫn nữ và nam có sự chênh lệch
    </li>
  </ul>
  <img src="./assets/images/jewerly-size/do-day-cua-nhan.jpg" style="width: 100%">
  <p style="font-size: 20px">
    Cần chú ý rằng, các lưu ý trên chỉ mang tính chất chung. Để có kết quả chính xác, bạn nên tham khảo ý kiến từ một
    chuyên gia có kinh nghiệm trong nghề hoặc đo kích thước tại cửa hàng trang sức uy tín.
  </p>
  <p style="font-size: 20px">
    Trên đây là toàn bộ thông tin hướng dẫn đo size nhẫn sao cho phù hợp với kích thước tay của mình một cách chuẩn
    nhất. Hy vọng bài viết có thể mang tới nhiều thông tin bổ ích dành cho bạn. Nếu bạn cần tìm địa chỉ mua nhẫn uy tín
    và chất lượng cao, hãy đến ngay với Chúng tôi Diamond.
  </p>

</section>
<app-my-footer></app-my-footer>
