<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Hello Consultancy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="container-fluid text-center py-4 mt-4" id="contact">
  <h2 class="display-4 pb-4 my-4">Get in touch with us today!</h2>
  <p class="lead pb-3">Send us a message and we will get back to
    you as soon as possible.</p>
  <a href="#" class="btn btn-primary btn-lg mb-4" role="button">Contact us</a>
</section>
<section id="services_2" class="container">
  <h2 class="display-4 text-center mt-5 mb-3">Ý NGHĨA LOGO </h2>
  <div>
    <div class="">Logo của Cao Hùng Diamond được thiết kế rất đơn giản nhưng sang trọng, kết hợp giữa chữ C và chữ H
      trong tên thương hiệu nhưng được cách điệu để tạo sự mới lạ. Đây cũng là thông điệp mà chúng tôi muốn gửi tới
      khách hàng – Cao Hùng Diamond sẽ luôn mang tới cho khách hàng những sản phẩm mới lạ phong cách và đầy khác biệt.
    </div>

    <div>Bên cạnh đó, logo của chúng tôi được tạo nên với những nét thẳng khá đơn giản, không cầu kỳ với ngụ ý thể hiện
      sự “Chân thành – Trung thực – Thẳng thắn” với khách hàng trong mọi hoạt động và dịch vụ. Đây luôn là tiêu chí quan
      trọng làm kim chỉ nam cho các hoạt động của Cao Hùng Diamond.
    </div>

    <div>Màu sắc logo của chúng tôi lấy vàng ánh kim làm chủ đạo. Đây là màu sắc thể hiện sự sang trọng, quý phái, có ý
      nghĩa may mắn, mang lại sự phồn thịnh, giàu có và cảm xúc vui tươi cũng như chính trang sức kim cương của chúng
      tôi vậy.
    </div>
  </div>
</section>
<section id="services_3" class="container">
  <h2 class="display-4 text-center mt-5 mb-3">TẦM NHÌN VÀ SỨ MỆNH </h2>
  <div>
    <div>Ngay từ khi bắt đầu, chúng tôi đã mang trên mình sứ mệnh cao cả đó là tạo nên những giá trị sống đặc biệt cho
      từng khách hàng, và hơn bất cứ điều gì đó chính là cá tính và độc đáo của từng sản phẩm. Chúng tôi cam kết mang
      đến cho quý vị những sản phẩm sang trọng, hiện đại, “chất” và hoàn toàn khác biệt. Một đơn vị được đánh giá là
      thành công khi nhận được nhiều nhất sự tín nhiệm, tin cậy và ủng hộ của khách hàng. Thấu hiểu một cách sâu sắc vấn
      đề đó, CAO HÙNG DIAMOND luôn truyền cảm hứng cho tất cả các thành viên trong tập thể, để bất cứ ai cũng luôn có
      được sự chăm chút sản phẩm đến từng chi tiết nhỏ nhất. Mọi giới hạn sẽ được phá vỡ để tạo nên những dịch vụ tốt
      nhất cho khách hàng
    </div>

  </div>
</section>
<section id="services_4" class="container">
  <h2 class="display-4 text-center mt-5 mb-3">CHẤT LƯỢNG DỊCH VỤ </h2>
  <div>
    <div>Với “kim chỉ nam” phục vụ khách hàng, đề cao chất lượng trong từng sản phẩm và dịch vụ để có lộ trình phát
      triển bền vững nhất. Dưới bàn tay của những người thợ kim hoàn tại Cao Hùng Diamond luôn linh hoạt, công phu, tỉ
      mỉ đã tạo ra những sản phẩm đẹp sắc sảo, tinh tế trong kiểu dáng, sang trọng, quý phái và hiện đại sẽ làm hài lòng
      mọi khách hàng khó tính nhất. Môi trường làm việc sáng tạo, thoải mái và đánh thức các giá trị tiềm ẩn của từng cá
      nhân trong công ty chính là chìa khóa giúp Cao Hùng Diamond quy tụ các nhân tài có chuyên môn cao trong lĩnh vực
      của mình và mong muốn được gắn bó lâu dài. Ngoài ra, Cao Hùng Diamond còn mang đến những chính sách hậu mãi tốt
      nhất khi Quý khách có nhu cầu bảo hành, đổi trả. Thủ tục đơn giản. Thời gian nhanh chóng. Nhân viên phục vụ tận
      tình. Điều đó đã làm nên một Cao Hùng Diamond đã, đang và sẽ trường tồn cùng thời gian.”
    </div>

  </div>
</section>
<section id="services_5" class="container">
  <h2 class="display-4 text-center mt-5 mb-3">ĐỊA CHỈ ĐÁNG TIN CẬY ĐƯỢC NHIỀU SAO VIỆT LỰA CHỌN </h2>
  <div>
    <div>Kiểu dáng thời thượng kết hợp chất lượng vượt trội, nắm bắt kịp thời xu hướng thế giới phù hợp cho đối tượng
      khách hàng từ 25 – 65 tuổi đã giúp kim cương Cao Hùng Diamond đã nhanh chóng khẳng định uy tín, chiếm lĩnh thị
      trường và được giới thượng lưu tin chọn. Trong đó không thể kể đến rất nhiều sao Việt, nghệ sĩ Việt tin tưởng lựa
      chọn Cao Hùng Diamond làm nơi trải nghiệm kim cương. Có thể kể đến như nghệ sĩ Kim Xuân, MC Cát Tường, diễn viên
      Tấn Beo, MC Nguyên Khang, diễn viên Trung Dũng, nghệ sĩ Kim Tử Long,…đã góp phần lớn quуết định ѕự phát triển ᴠà
      thành công của thương hiệu chúng tôi trong thời gian qua.
    </div>
    <div>Với những nỗ lực không ngừng, trong tương lai, Cao Hùng Diamond chắc chắn sẽ còn phát triển mạnh mẽ hơn nữa và
      đạt được những thành tựu nổi bật. Trở thành địa chỉ số 1 trong lòng khách hàng khi có nhu cầu mua trang sức kim
      cương chính hãng và là nhà phân phối trang sức kim cương hàng đầu Việt Nam cũng như khu vực Đông Nam Á. Bên cạnh
      đó, ngày càng cải tiến về dịch vụ tư vấn cho khách hàng chọn được viên kim cương ưng ý, có thông số ý nghĩa, tăng
      lộc phát.
    </div>
  </div>
</section>
<section id="services" class="container">
  <h2 class="display-4 text-center mt-5 mb-3">Câu chuyện của chúng tôi</h2>

  <div class="row text-center">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="../../../../assets/images/mystory1.jpg" alt="Design">
        <div class="card-body">
          <h4 class="card-title">Design</h4>
          <p class="card-text">Deliver the best user experience
            with our carefully designed responsive websites and applications!</p>
        </div>
        <div class="card-footer py-4">
          <a href="#" class="btn btn-secondary">See portfolio &raquo;</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="../../../../assets/images/mystory1.jpg" alt="Development">
        <div class="card-body">
          <h4 class="card-title">Development</h4>
          <p class="card-text">You need software that works on every device.
            Leverage the latest technologies and the most powerful tools!</p>
        </div>
        <div class="card-footer py-4">
          <a href="#" class="btn btn-secondary">See projects &raquo;</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="../../../../assets/images/mystory1.jpg" alt="Analytics">
        <div class="card-body">
          <h4 class="card-title">Analytics</h4>
          <p class="card-text">Consult our experts to set up proper goals and
            find the best stack for your next application!</p>
        </div>
        <div class="card-footer py-4">
          <a href="#" class="btn btn-secondary">See testimonials &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="py-3 bg-light">
  <div class="container">
    <p class="text-center">Copyright &copy; Hello Consultancy 2019</p>
  </div>
</footer>
