<header class="header" data-header>
  <div class="container align-content-center">
      <div class="overlay" data-overlay></div>

      <div *ngIf="enableSearch" class="header-search">
        <input type="search" name="search" placeholder="Search Product..." class="input-field">

        <button class="search-btn" aria-label="Search">
          <!--        <ion-icon name="search-outline"></ion-icon>-->
          <i class="fas fa-search"></i>
        </button>
      </div>

      <a href="/home" class="logo">
        <img src="./assets/images/logo.svg" alt="Casmart logo" width="130" height="31">
      </a>

      <div class="header-actions">
        <button *ngIf="isLoginUser" class="header-action-btn" (click)="redirectProfile()">
          <!--        <ion-icon name="cart-outline" aria-hidden="true"></ion-icon>-->
          <i class="fas fa-user"></i>
          <p class="header-action-label">Profile</p>
        </button>
        <div *ngIf="!isLoginUser">
          <button class="header-action-btn" (click)="redirectLogin()">
            <!--        <ion-icon name="person-outline" aria-hidden="true"></ion-icon>-->
            <i class="fas fa-person-booth"></i>

            <p class="header-action-label">Sign in</p>
            <!--                <a [routerLink]="['login-v3']" routerLinkActive="active" ></a>-->

          </button>
        </div>

        <button class="header-action-btn">
          <!--        <ion-icon name="search-outline" aria-hidden="true"></ion-icon>-->

          <p class="header-action-label">Search</p>
        </button>


        <button class="header-action-btn">
          <i class="fas fa-heart"></i>

          <p class="header-action-label">Wishlisht</p>

                  <div class="btn-badge" aria-hidden="true">2</div>
        </button>

      </div>

      <button class="nav-open-btn" data-nav-open-btn aria-label="Open Menu">
        <span></span>
        <span></span>
        <span></span>
      </button>

    <nav class="navbar" data-navbar>

      <div class="navbar-top">

        <a href="#" class="logo">
          <img src="./assets/images/logo.svg" alt="Casmart logo" width="130" height="31">
        </a>

        <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
          <!--          <ion-icon name="close-outline"></ion-icon>-->
        </button>

      </div>

      <ul class="navbar-list">

        <li>
          <a href="/home" class="navbar-link">Home</a>
        </li>

        <li>
          <a href="#" class="navbar-link">Shop</a>
        </li>

        <li>
          <a href="#" class="navbar-link">About</a>
        </li>

        <li>
          <a href="#blog" class="navbar-link">Blog</a>
        </li>

        <li>
          <a href="#" class="navbar-link">Contact</a>
        </li>

      </ul>

    </nav>

  </div>
</header>
