<!--header start here-->
<app-my-header></app-my-header>
<!--header start here-->
<!--wrapper start here-->
<div class="wrapper" style="margin-top: 8%">
  <section class="blog-page-banner common-banner-section" style="background-image:url(assets/images/blog-banner.png);">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="common-banner-content">
            <ul class="blog-cat">
              <li class="active"><a href="#">Featured</a></li>
              <li><a href="#"><b>Category:</b> Fashion</a></li>
              <li><a href="#"><b>Date:</b> 12 Mar, 2022</a></li>
            </ul>
            <div class="section-title">
              <h2>Top Jewellery trends for 2022 year </h2>
            </div>
            <a href="/article" class="btn-secondary white-btn" tabindex="0">
              Go to Article
              <svg viewBox="0 0 10 5">
                <path d="M2.37755e-08 2.57132C-3.38931e-06 2.7911 0.178166 2.96928 0.397953 2.96928L8.17233 2.9694L7.23718 3.87785C7.07954 4.031 7.07589 4.28295 7.22903 4.44059C7.38218 4.59824 7.63413 4.60189 7.79177 4.44874L9.43039 2.85691C9.50753 2.78197 9.55105 2.679 9.55105 2.57146C9.55105 2.46392 9.50753 2.36095 9.43039 2.28602L7.79177 0.69418C7.63413 0.541034 7.38218 0.544682 7.22903 0.702329C7.07589 0.859976 7.07954 1.11192 7.23718 1.26507L8.1723 2.17349L0.397965 2.17336C0.178179 2.17336 3.46059e-06 2.35153 2.37755e-08 2.57132Z">
                </path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="blog-grid-section tabs-wrapper padding-bottom padding-top">
    <div class="container">
      <div class="section-title">
        <h2>Last <b>articles</b></h2>
      </div>
      <div class="blog-head-row d-flex justify-content-between">
        <div class="blog-col-left">
          <ul class="d-flex tabs">
            <li class="tab-link active" data-tab="tab-1"><a href="javascript:;">All</a></li>
            <li class="tab-link" data-tab="tab-2"><a href="javascript:;">Fashion</a> </li>
            <li class="tab-link" data-tab="tab-3"><a href="javascript:;">Tours</a></li>
            <li class="tab-link" data-tab="tab-4"><a href="javascript:;">Glasses</a></li>
            <li class="tab-link" data-tab="tab-5"><a href="javascript:;">Articles</a></li>
            <li class="tab-link" data-tab="tab-6"><a href="javascript:;">Magazines</a></li>
            <li class="tab-link" data-tab="tab-7"> <a href="javascript:;">Fashion weeks</a></li>
          </ul>
        </div>
        <div class="blog-col-right d-flex align-items-center justify-content-end">
          <span class="select-lbl">Sort by</span>
          <select>
            <option>Lastest</option>
            <option>new</option>
          </select>
        </div>
      </div>
      <div class="tabs-container">
        <div id="tab-1" class="tab-content active">
          <div class="row blog-grid">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card1.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                        13 JULY 2020 <br>
                                        <a href="#">
                                            @john
                                        </a>
                                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card2.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                        13 JULY 2020 <br>
                                        <a href="#">
                                            @john
                                        </a>
                                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card3.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                        13 JULY 2020 <br>
                                        <a href="#">
                                            @john
                                        </a>
                                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card2.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                        13 JULY 2020 <br>
                                        <a href="#">
                                            @john
                                        </a>
                                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card1.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                        13 JULY 2020 <br>
                                        <a href="#">
                                            @john
                                        </a>
                                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card2.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                        13 JULY 2020 <br>
                                        <a href="#">
                                            @john
                                        </a>
                                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card3.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                        13 JULY 2020 <br>
                                        <a href="#">
                                            @john
                                        </a>
                                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card2.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                        13 JULY 2020 <br>
                                        <a href="#">
                                            @john
                                        </a>
                                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-2" class="tab-content">
          <div class="row blog-grid">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card2.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card3.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card3.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card2.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-3" class="tab-content">
          <div class="row blog-grid">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card2.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card2.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card1.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card2.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-4" class="tab-content">
          <div class="row blog-grid">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card2.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card2.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card1.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card2.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-5" class="tab-content">
          <div class="row blog-grid">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card1.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card2.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card3.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card2.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-6" class="tab-content">
          <div class="row blog-grid">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card2.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card2.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card1.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card2.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-7" class="tab-content">
          <div class="row blog-grid">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card3.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card1.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card3.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 blog-widget">
              <div class="blog-card">
                <div class="blog-card-image">
                  <a href="/article">
                    <img src="assets/images/blog-card2.png" class="default-img">
                  </a>
                </div>
                <div class="blog-card-content">
                  <span>ARTICLES</span>
                  <h3>
                    <a href="/article">
                      Best bracelet and necklaces
                    </a>
                  </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy.
                  </p>
                  <div class="blog-card-bottom">
                    <a href="/article" class=" btn">
                      Read More
                    </a>
                    <span class="date">
                                    13 JULY 2020 <br>
                                    <a href="#">
                                        @john
                                    </a>
                                </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!---wrapper end here-->
<!--footer start here-->
<app-my-footer></app-my-footer>
<!--footer end here-->
<div class="overlay"></div>
<!--cart popup start here-->
<app-my-mini-cart></app-my-mini-cart>
<!--cart popup ends here-->
<!--scripts start here-->
