<app-my-header></app-my-header>
<section class="container content-area page-wrapper" style="margin-top: 10%">
  <h2 class="display-4 text-center mt-5 mb-3">Tiêu chuẩn 4C Diamond của kim cương là gì? </h2>
  <div class="large-12 col">
    <p style="font-size: 30px">Tiêu chuẩn 4C của kim cương theo GIA</p>
    <p style="font-size: 20px">Là yếu tố giúp phân loại và xác định chất lượng, giá cả của một viên kim cương. Dưới đây
      sẽ là tổng hợp toàn bộ các tiêu chuẩn 4C:</p>
    <img src="./assets/images/blog/tieu-chuan-4c-cua-kim-cuong-chdm.jpg" style="width: 100%">
    <p style="font-size: 30px">COLOR – Nước màu kim cương</p>
    <p style="font-size: 20px">COLOR (nước màu) là một trong những tiêu chí quan trọng trong việc xem xét, xác
      định giá trị kim cương.
      Hệ thống đánh giá cấp độ nước màu của kim cương từ D đến Z như sau:</p>
    <ul class="a" style="padding-left: 2%">
      <li style="font-size: 20px">
        Không màu (D, E, F): Viên kim cương có màu trắng trong suốt, không bị pha tạp với một số màu sắc
        khác. Những viên kim cương có nước màu trong khoảng này được xem là hiếm và có giá trị cao nhất.
      </li>
      <li style="font-size: 20px">
        Gần như không màu (G, H, I, J): Các viên kim cương sở hữu cấp độ nước màu G-J vẫn đảm bảo màu trắng
        đẹp nhưng kém hơn so với kim cương D-F. Nếu nhìn kĩ vẫn có thể có một chút màu vàng hoặc nâu nhạt, tuy
        nhiên tỉ lệ màu này không đáng kể, viên kim cương nhìn chung vẫn khá trong và đẹp.
      </li>
      <li style="font-size: 20px">
        Màu hơi vàng (K, L, M): Những viên kim cương trong khoảng này có tỉ lệ màu vàng hoặc nâu nhạt nhiều hơn
        đáng kể hơn so với các nhóm màu trước đó. Bạn có thể nhìn thấy những màu sắc này trong viên kim cương
        khi quan sát bằng mắt thường nếu nhìn kĩ.
      </li>
      <li style="font-size: 20px">
        Đo kích cỡ nhẫn nhiều lần: Để có kết quả chính xác, nên đo size nhẫn nhiều lần trong ngày và ở trạng thái ngón
        tay
        bình thường
      </li>
      <li style="font-size: 20px">
        Màu vàng nhạt (N, O, P, Q, R): Viên kim cương có cấp độ nước màu N-R sở hữu màu vàng hoặc nâu khá rõ
        rệt với tỉ lệ nhiều hơn, dễ dàng nhìn thấy bằng mắt thường.
      </li>
      <li style="font-size: 20px">
        Màu vàng (S, T, U, V, W, X, Y, Z): Với những viên kim cương sở hữu màu sắc S-Z, ánh vàng hoặc nâu
        trong viên kim cương được biểu hiện khá rõ. Điều này khiến những viên kim cương S-Z có giá trị thấp
        hơn hẳn so với những cấp nước màu trên.
      </li>
    </ul>
    <img src="./assets/images/blog/nuoc-mau-cua-kim-cuong.jpg" style="width: 100%">
    <p style="font-size: 30px">CLARITY – Độ tinh khiết kim cương</p>
    <p style="font-size: 20px">Bên cạnh yếu tố COLOR thì CLARITY cũng được xem là một trong những tiêu chí
      quan trọng hàng đầu khi đánh giá kim cương. Hệ thống đánh giá Clarity (Độ trong suốt) trong tiêu chuẩn kim
      cương 4C được sử dụng để xác định mức độ hiện diện của những khuyết điểm trong một viên kim cương. Các khuyết
      điểm bao gồm vết nứt,, tạp chất, vết khắc trong bên trong hoặc bên ngoài của kim cương.</p>
    <p style="font-size: 20px">Hệ thống đánh giá Clarity được chia thành 6 cấp độ chính:</p>
    <ul class="a" style="padding-left: 2%">
      <li style="font-size: 20px">
        IF (Internally Flawless – không có khuyết điểm): Đây là nhóm kim cương có giá trị cao nhất trong hệ thống
        đánh giá. Kim cương không có bất kỳ khuyết điểm nội nào khi được xem bằng kính hiển vi 10x. Những viên kim cương
        này khá hiếm và thường có giá thành đắt đỏ trên thị trường.
      </li>
      <li style="font-size: 20px">
        VVS1 và VVS2 (Very Very Slightly Included): Những viên kim cương trong nhóm này có rất ít khuyết điểm, chỉ có
        thể nhìn thấy được bằng kính hiển vi 10x. Các khuyết điểm gần như không đáng kể và không thể nhìn thấy
        bằng mắt thường.
      </li>
      <li style="font-size: 20px">
        VS1 và VS2 (Very Slightly Included): Những viên kim cương VS1 và VS2 sở hữu một vài khuyết điểm nhỏ, có
        thể quan sátđược bằng kính hiển vi 10x. Tuy nhiên, khuyết điểm nhỏ này không ảnh hưởng đáng kể đến vẻ đẹp của
        kim cương.
      </li>
      <li style="font-size: 20px">
        SI1 và SI2 (Slightly Included): Những viên kim cương trong nhóm này xuất hiện các khuyết điểm nhìn thấy được
        bằng mắt thường và có thể ảnh hưởng đến độ trong suốt của sản phẩm. Tuy nhiên, những khuyết điểm này thường
        không quá rõ ràng, có thể được giấu đi bởi các mặt cắt xén khéo léo.
      </li>
      <li style="font-size: 20px">
        I1, I2 và I3 (Included): Đây là nhóm có mức độ khuyết điểm cao nhất trong hệ thống đánh giá. Kim cương trong
        nhóm này có khuyết điểm lớn, có thể ảnh hưởng đến sự sáng của kim cương và có thể nhìn thấy bằng mắt thường.
      </li>
    </ul>
    <img src="./assets/images/blog/nuoc-mau-cua-kim-cuong.jpg" style="width: 100%">
    <p style="font-size: 20px">
      Trong hệ thống đánh giá Clarity, kim cương có độ trong suốt cao như IF, VVS và VS sẽ có giá trị cao hơn, trong khi
      kim cương có nhiều khuyết điểm như SI, I1, I2 và I3 sẽ có giá trị thấp hơn.
    </p>

    <p style="font-size: 30px">CUT – Giác cắt kim cương</p>
    <p style="font-size: 20px">Cut (giác ) là một trong bốn yếu tố chính thuộc tiêu chuẩn kim cương 4C, thể hiện
      cách đánh giá chất lượng của việc mài cắt một viên kim cương, bao gồm các yếu tố như độ đối xứng, độ sáng và độ
      bóng. Việc mài cắt đúng cách sẽ tạo ra hiệu ứng ánh sáng nổi bật, giúp viên kim cương tỏa sáng rực rỡ
      hơn.</p>
    <p style="font-size: 20px">Hệ thống đánh giá cut gồm các danh mục sau:</p>
    <ul class="a" style="padding-left: 2%">
      <li style="font-size: 20px">
        Excellent (Xuất sắc): Đây là nhóm cao nhất trong hệ thống đánh giá CUT. Những kim cương trong nhóm này được mài
        đánh tốt nhất, tạo ra hiệu ứng ánh sáng đẹp và sang trọng.
      </li>
      <li style="font-size: 20px">
        Very Good (Rất tốt): Kim cương có độ CUT thuộc cấp độ Very Good được chế tác tốt, gần như không có
        khuyết điểm về độ đối xứng, ánh sáng hay độ bóng.
      </li>
      <li style="font-size: 20px">
        Good (Tốt): Kim cương trong nhóm này sở hữu giác cắt đẹp, gọn gàng, tuy nhiên độ tinh xảo sẽ kém hơn
        một chút so với hai nhóm trên.
      </li>
      <li style="font-size: 20px">
        Fair (Trung bình): Kim cương có độ CUT Fair được mài đánh vừa phải, tạo ra hiệu ứng ánh sáng không quá tốt.
      </li>
      <li style="font-size: 20px">
        Poor (Kém): Đây là nhóm thấp nhất trong hệ thống đánh giá CUT. Kim cương trong nhóm này được chế tác khá thô
        sơ, không tạo ra hiệu ứng ánh sáng đẹp và không thu hút.
      </li>
    </ul>
    <img src="./assets/images/blog/vet-cat-cua-kim-cuong.jpg" style="width: 100%">
    <p style="font-size: 30px">CARAT – Trọng lượng carat</p>
    <p style="font-size: 20px">CARAT chắc hẳn là tiêu chí 4C quen thuộc nhất với mọi người, ngay cả đối với
      những người nghiệp dư hoặc không biết nhiều về kim cương. Carat là đơn vị đo trọng lượng kim cương được
      công nhận và thống nhất sử dụng chung trên toàn thế giới. Một carat được quy đổi tương đương với 0,2
      gam. Kim cương có trọng lượng càng lớn, giá trị của viên kim cương càng cao.</p>
    <img src="./assets/images/blog/trong-luong-cua-kim-cuong.jpg" style="width: 100%">
    <p style="font-size: 30px">Yếu tố nào quan trọng nhất?</p>
    <p style="font-size: 20px">Mọi tiêu chuẩn 4C của kim cương đều có ý nghĩa quan trọng trong việc xác định
      giá trị của sản phẩm. Tuy nhiên, độ CUT hay chất lượng chế tác kim cương thường được coi trọng hơn bởi
      nó quyết định đến ngoại hình của sản phẩm. Tất nhiên, việc xác định giá trị viên kim cương cần
      được kết hợp đầy đủ giữa 4 yếu tố để đưa tới đánh giá chuẩn xác nhất.</p>
    <img src="./assets/images/blog/tieu-chuan-4c-quan-trong-nhat.jpg" style="width: 100%">
    <p style="font-size: 30px">Yếu tố khác ảnh hưởng đến kim cương tự nhiên</p>
    <p style="font-size: 20px">Bên cạnh tiêu chuẩn 4C của kim cương thì còn có một số yếu tố khác góp phần đánh giá giá
      trị của kim cương:</p>
    <p style="font-size: 30px">Fluorescence – Độ phát quang của kim cương</p>
    <p style="font-size: 20px">Fluorescence hay còn gọi là độ phát quang của kim cương là hiện tượng một số kim cương
      tỏa ra ánh sáng khi có tia cực tím UV chiếu vào, loại tia này có ở khắp nơi nhưng không thể nhìn thấy bằng mắt
      thường. Theo viện ngọc học đá quý Hoa Kỳ – GIA, khoảng 35% kim cương đá quý có tính chất này, với màu lơ phổ biến
      nhất, ngoài ra còn có màu trắng, vàng hoặc cam. Một viên kim cương phát quang màu lơ mạnh có thể làm giảm sắc vàng
      của viên đá dưới ánh sáng mặt trời, vì màu xanh lơ và vàng là hai màu đối nghịch. Tuy nhiên, nếu phát quang quá
      mạnh thì kim cương sẽ trông hơi mờ và điều này sẽ làm giảm giá trị của viên kim cương đó.</p>
    <p style="font-size: 20px"></p>
    <img src="./assets/images/blog/trong-luong-cua-kim-cuong.jpg" style="width: 100%">
    <p style="font-size: 20px">
      Để biết rõ hơn về cách chọn nhẫn sao cho phù hợp nhất, bạn cần phải biết chu vi ngón tay của mình. So sánh thông
      số dưới bảng để biết được kích thước của nhẫn so với ngón tay. Dưới đây là bảng size nhẫn (đường kính trong mm)
      phổ biến để bạn dễ dàng tham khảo.
    </p>
    <p style="font-size: 20px">
      Cường độ phát quang của kim cương được chia thành những cấp độ như sau:
    </p>
    <img src="./assets/images/blog/fluorescence-la-gi-03.jpg" style="width: 100%">
    <p style="font-size: 30px"></p>
    <p style="font-size: 20px">Kích thước là một yếu tố quan trọng khác có thể xác định giá trị của viên kim cương ngoài
      tiêu chuẩn 4C. Kích thước của kim cương bao gồm đường kính, độ dày và trọng lượng. Kim cương càng lớn thì sẽ càng
      hiếm có và giá thành sẽ cao. Đường kính và độ dày của kim cương được đo bằng milimet (mm) hay người Việt ta thường
      gọi là ly như kim cương 3ly, 6ly, 9ly… Đây là các thông số cơ bản giúp ta phân biệt kim cương, chọn ổ trang sức
      phù hợp, ước tính được trọng lượng carat của kim cương trên đồ trang sức và đánh giá được độ cân đối. Vì vậy, kích
      thước là một yếu tố không thể bỏ qua khi bạn muốn mua – bán và sử dụng kim cương hợp lý.</p>
    <img src="./assets/images/blog/bang-quy-doi-carat-sang-ly.jpg" style="width: 100%">
    <p style="font-size: 20px">Những chia sẻ hữu ích ở trên sẽ giúp bạn hiểu thêm về những tiêu chuẩn 4C của
      kim cương và tầm quan trọng của chúng khi xác định giá trị sản phẩm. Nếu còn bất cứ thắc mắc nào,
      bạn có thể liên hệ tới Cao Hùng Diamond để được các chuyên viên đá quý tư vấn và giải đáp cụ
      thể.</p>
  </div>
</section>
<app-my-footer></app-my-footer>

